<!-- Footer Section -->
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Send us a message</h3>
                <li>08039574516</li>
                <li>caretrustng@yahoo.com</li>
                <li>No 32 Regina Caeli Road, Awka, Anambra State</li>
            </div>
            <div class="col-md-6">
                <form action="">
                    <input class="input" type="text" placeholder="Name"><br>
                    <input class="input" type="text" placeholder="Subject"><br>
                    <input class="input" type="text" placeholder="Message"><br>
                    <input class="input" type="text" placeholder="Email"><br>
                    <button class="button footer-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>