<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Tinymce CDN Link -->
        <script src="https://cdn.tiny.cloud/1/ykamhomudu10zrr2sfhdinnfagi99piu3a38kzq4bfk4i0bq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
        <link rel="stylesheet" href="css/postStyles.css">
        <title>New Post</title>
    </head>
    <body>
        <form action="/publish" method="post">
            <label for="blog-title">Title</label>
            <input type="text" name="title" id="blog-title"  value="" placeholder="Title" class="title" required>
            <textarea name="editor" id="myTextarea">Make a post</textarea>
            <button type="submit">Submit</button>
        </form>

        <script>
            tinymce.init({
                element_format: 'text',
                selector: '#myTextarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name'
            });
        </script>

    </body>
</html>